@CHARSET "ISO-8859-1";
 body {
 font-family: sans-serif;
 }
 .data, .data td {
 border-collapse: collapse;
 width: 80%;
 border: 1px solid #aaa;
 margin: 2px;
 padding: 2px;
 }
 .data th {
 font-weight: bold;
 background-color: #5C82FF;
 color: white;
 }
 table {   
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 45px;
  width: 480px;
  text-align: left;
  border-collapse: collapse;
  }

 th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
     border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

 td {  Sans-Serif;   padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
     color: #669;    border-top: 1px solid transparent; }

 tr:hover td { background: #d0dafd; color: #339; }
 
 fuentes{
         font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
         font-size: 12px;
         border-color:#EB1111;
 				-webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
 				-moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
   				box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
   				border: 1px solid black;
   				text-align: center;
 
      }
 h1, p, body, html{
	
	margin: 100;
	padding:100;
	
    }
    
   
 body {
       background-color:#ffffff;
      }
      
   
#container{
	       width: 100%;   
	      }
          
       
#header{
	 
             width: 143%;   
		     background-color: #EB1111;
             position: absolute;
	         top: 0%; 
	         left:0%;
        }
       
 
#header h1{
	         text-align: center;
	         margin-bottom: 0px;
	         font-style:italic;
	         color:#FFFFFF
          }
          
#header h3{
	         text-align: left;
	         margin-bottom: 0px;
	         font-style:italic;
	         color:#FFFFFF
          }
 #h3{
	         text-align: left;
	          font-style:italic;
	         color:#FFFFFF
          }
#contentTabla{
	
			  position: absolute;
}
.contentTabla{
	
			 position: absolute;
 			 top: 25%; /* Buscamos el centro horizontal (relativo) del navegador */
 			 left: 90%; /* Buscamos el centro vertical (relativo) del navegador */
 			-webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			-moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			 box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			 border: 1px solid black;
            }
         
.contentTabla2      
{
	 position: absolute;
 	 top: 10%; /* Buscamos el centro horizontal (relativo) del navegador */
 	 left: 55%; /* Buscamos el centro vertical (relativo) del navegador */
 	-webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
	-moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
	 box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
	 border: 1px solid black;
     }

.contentTablaconverti{
	
					  -webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
					  -moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
					   box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
                     }
         
.contentTablafor{
	
	            position: absolute;
 			    top: 35%; /* Buscamos el centro horizontal (relativo) del navegador */
 			    left: 40%; /* Buscamos el centro vertical (relativo) del navegador */
 			    -webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			    -moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			     box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
         }


.contentTablaEXCEPCION{
              position: absolute;
 			 top: 25%; /* Buscamos el centro horizontal (relativo) del navegador */
 			 left: 28%; /* Buscamos el centro vertical (relativo) del navegador */
 			-webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			-moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			 box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			 border: 1px solid black;
            }     
             
             
.contentTablaACon  
              {
              position: absolute;
 			 top: 35%; /* Buscamos el centro horizontal (relativo) del navegador */
 			 left: 40%; /* Buscamos el centro vertical (relativo) del navegador */
 			   
             }           
             

.contentTablaConv  
              {
              position: absolute;
 			 top: 25%; /* Buscamos el centro horizontal (relativo) del navegador */
 			 left: 2%; /* Buscamos el centro vertical (relativo) del navegador */
 			-webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			-moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			 box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			 border: 1px solid black;
 			  }           

.contentTablaEjercicios
               {
	                position: absolute;
 			         top: 10%; /* Buscamos el centro horizontal (relativo) del navegador */
 			        left: 2%; /* Buscamos el centro vertical (relativo) del navegador */
               
               }
               
               
.tabla{
-webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
-moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
}
        
#div1 {
 position: absolute;
 top: 50%; /* Buscamos el centro horizontal (relativo) del navegador */
 left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
 width: 600 px; /* Definimos el ancho del objeto a centrar */
 height: 400px; /* Definimos el alto del objeto a centrar */
 margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
 margin-left: -300px; /* Restamos la mitad de la anchura del objeto con un margin-left */
 }


#footer{
	         width: 143%;   
		     background-color: #EB1111;
             position: absolute;
	         top: 90%; /* Buscamos el centro horizontal (relativo) del navegador */
 		     left:0%; /* Buscamos el centro vertical (relativo) del navegador */
        
 	   }
        
#footer h1{
	         text-align: center;
	         margin-top: 4px;
	         font-style:italic;
	         color:#FFFFFF;
	        
          }     
          

#footer h5{
	         text-align: center;
	         margin-top: 10px;
	         font-style:italic;
	         color:#FFFFFF;
	        
          }    
          
.recuadro1{
	width:150px;
	height:90px;
	border-color:#EB1111;
    -webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
    -moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
    box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
}


.bottonCenter{
			    position: absolute;
 			    top: 85%; /* Buscamos el centro horizontal (relativo) del navegador */
 			    left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
    		 }
    		 
  
.bottonAnadir{
			    position: absolute;
 			    top: 25%; /* Buscamos el centro horizontal (relativo) del navegador */
 			    left:69%; /* Buscamos el centro vertical (relativo) del navegador */
 			    width:380px;
				height:160px;
				border-color:#EB1111;
 				-webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
 				-moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
   				box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
   				border: 1px solid black;
   				text-align: center;
    		 }
    		 
 .volver{
			    position: absolute;
 			    top:3%; /* Buscamos el centro horizontal (relativo) del navegador */
 			    left:3%; /* Buscamos el centro vertical (relativo) del navegador */
 			   
    		 }
    		 
    		    		 
    		   		 
 .ImagesopraAcademy{
			    position: absolute;
			    top: 82%; /* Buscamos el centro horizontal (relativo) del navegador */
 			    left: 88%; /* Buscamos el centro vertical (relativo) del navegador */
    		 }

.ImagesopraAcademyTam
{
 width: 100px;
 height: 80px;
}
.FuenteTitulo1{
	
	            position: absolute;
 			    top: 20%; /* Buscamos el centro horizontal (relativo) del navegador */
 			    left: 3%; /* Buscamos el centro vertical (relativo) del navegador */
	           font:sans-serif;  
	           font-size: 250%; 
              }
              
.FuenteTitulo2{
	
	            position: absolute;
 			    top: 10%; /* Buscamos el centro horizontal (relativo) del navegador */
 			    left: 40%; /* Buscamos el centro vertical (relativo) del navegador */
	           font:sans-serif;  
	           font-size: 250%; 
              }

.errorMessage{
	          color: red;
             }        
             
.errorMessageSitu{
	               position: absolute;
 			       top: 105%; /* Buscamos el centro horizontal (relativo) del navegador */
 			       left: 50%; 
 			       width: 100%; 
                 }                     

.recuadroRedondo{             
					border-radius: 15px 15px 15px 15px;
					-moz-border-radius: 15px 15px 15px 15px;
					-webkit-border-radius: 15px 15px 15px 15px;
					border: 2px solid #eb1a60           
		 		}	
		 		
		 		
.bottonejercicios{
	                font-size:10px;
        			font-family:Verdana,Helvetica;
       			    font-weight:bold;
        			color:white;
        			background:#D8D8D8;
        			
        			border-color:#EB1111;
        			width:180px;
        			height:50px;
	             
				}
				

				
a.bottonejercicios:hover {
  background-color: #245191;
}
 
 
a.bottonejercicios {
  text-shadow: -1px -1px 2px #618926;
}

a.bottonejercicios:hover {
  text-shadow: -1px -1px 2px #465f97;
}
 
 a.bottonejercicios {
  border: 1px solid #618926;
}

a.bottonejercicios:hover {
  border: 1px solid #0f2557;
}

.navegadorCabecera{
	                 
	               position: absolute;
 			       top: 20%; /* Buscamos el centro horizontal (relativo) del navegador */
 			       left: 10%; /* Buscamos el centro vertical (relativo) del navegador */
                  }				
                  
                  
.fuenteNavegador{
	   			 font-family:Verdana,Helvetica;
       			 color:white;
	            }
     
 
.scrollerTable2 {
 				  position: absolute;
 			 top:40%; /* Buscamos el centro horizontal (relativo) del navegador */
 			 left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
 			-webkit-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			-moz-box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			 box-shadow: 6px 12px 22px -5px rgba(128,123,128,0.61);
			 border: 1px solid black;
 				  
 				}
 
 
.ImagesopraAcademyCab
				     {
				      position: absolute;
 			  		  top:8%; /* Buscamos el centro horizontal (relativo) del navegador */
 			  		  right: 92%; 
 			  		 }
 			  		 
 			  		 
 .invalidInput {
background-color: red;
color: white;
}
 