<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">UserHiber</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/formacion</property>
		<property name="hibernate.connection.username">UsuarioCurso</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="connection.pool_size">1</property>
		<property name="javax.persistence.validation.mode">none</property>
		<!-- <property name="hbm2ddl.auto">create-drop</property>
		 --><!-- <mapping resource="User.hbm.xml"/> 		
		 -->
		<mapping class="org.sistema.hibernate.models.Cliente"/>
		<mapping class="org.sistema.hibernate.models.Empleado"/>
		<mapping class="org.sistema.hibernate.models.Factura"/>
		<mapping class="org.sistema.hibernate.models.Pedido"/>
		<mapping class="org.sistema.hibernate.models.Producto"/>
		<mapping class="org.sistema.hibernate.models.Proveedor"/>
		<mapping class="org.sistema.hibernate.models.TipoProducto"/>
		<mapping class="org.sistema.hibernate.models.User"/>				
	</session-factory>
</hibernate-configuration>	